.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  /* margin-top: 800px; */
  /* overflow-y: scroll;
 scroll-snap-type: mandatory;
 scroll-snap-points-y: repeat (3rem);
 scroll-snap-type: y mandatory; */
}
