/* nav.navbar.navbar-default {
    margin-bottom: 0;
  } */

nav {
  margin-bottom: 70px;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.dropdown {
  color: white;
  float: right;
  /* margin-left: 550px; */
  margin: 50%;
  padding-right: 60px;
}

.dropdown input[type="text"] {
  width: 300px;
  color: black;
  padding-bottom: 20px;
}

/* .dropdown button {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  } */

.dropdown label {
  font-weight: bold;
}

.dictionary-btn {
  margin-top: 5px;
}

.dropdown textarea {
  height: 200px;
}
